.hidden {
  display: none;
}

button {
  border: none;
}

body.dark-mode {
    background-color: #343a40;
    color: #f8f9fa;
  }
  
  .navbar-dark .navbar-brand,
  .navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
  }
  
  .btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
  }
  
  .btn-outline-light:hover {
    background-color: #f8f9fa;
    color: #343a40;
  }
  
  .form-control,
  .custom-control-label {
    color: #f8f9fa;
    background-color: #343a40;
  }
  
  .custom-control-input:checked~.custom-control-label::before {
    background-color: #f8f9fa;
  }
  
  .card {
    background-color: #343a40;
    color: #f8f9fa;
  }
  
  .card-header {
    background-color: #212529;
    border-color: #343a40;
    color: #f8f9fa;
  }
  
  .card-body {
    border-color: #343a40;
  }
  
  .card-title,
  .card-text {
    color: #f8f9fa;
  }

  #country-history {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  #country-history h3 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #country-history p {
    font-size: 16px;
    line-height: 1.5;
  }
  